.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #DFFF00; */
  /* background-color: #FFBF00; */
  /* background-color: #FF7F50; */
  /* background-color: #DE3163; */
  /* background-color: #9FE2BF; */
  /* background-color: #40E0D0; */
  /* background-color: #6495ED; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

tr, td {
  height: 27vh;
  width: 50vw;
}

.game-button {
  width: 90%;
  height: 90%;
  border: none;
  border-radius: 2vh;
  font-size: 4vh;
  font-family: 'Kalam', cursive;
}