* {
  font-family: 'Erlan';
}

.App {
  text-align: center;
}

@font-face {
  font-family: 'Erlan';
  src: local('Erlan'), url(../static/Erlan.otf) format('opentype');
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

tr, td {
  height: 27vh;
  width: 50vw;
}

.game-button {
  width: 90%;
  height: 90%;
  border: none;
  border-radius: 2vh;
  font-size: 4vh;
  cursor: pointer;
  background-color: white;
}

.vote-button {
  border: none;
  border-radius: 2vh;
  background-color: white;
  color: black;
  cursor: pointer;
}

@media screen and (min-width: 450px) {
  .vote-button {
    width: 33vw;
    height: 20vh;
    padding: 2vh;
    margin: 0px auto;
  }
}

@media screen and (max-width: 450px) {
  .vote-button {
    width: 30vw;
    height: 30vw;
    padding: 10vw;
    margin: 0px auto;
  }
}

.circle {
  top: 5vh; 
  left: 5vh; 
  position: absolute;
  color: black;
  background-color: white;
  width: 8vh;
  height: 8vh;
  border-radius: 4vh;
  cursor: pointer;
}

h1 {
  color: black;
  margin: 0px;
  margin-bottom: 10px;
}

.statement-div {
  cursor: pointer;
  margin-left: 2vh;
  margin-right: 2vh;
}

h2, h4 {
  color: black;
}

h2 {
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

h3 {
  font-size: 25px;
}

h4 {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}