* {
  font-family: 'Erlan';
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: 'Erlan';
  src: local('Erlan'), url(../static/Erlan.otf) format('opentype');
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

tr, td {
  height: 27vh;
  width: 50vw;
}

.game-button {
  width: 90%;
  height: 90%;
  border: none;
  border-radius: 2vh;
  font-size: 4vh;
  cursor: pointer;
}

.circle {
  top: 5vh; 
  left: 5vh; 
  position: absolute;
  color: black;
  background-color: white;
  width: 8vh;
  height: 8vh;
  border-radius: 4vh;
  cursor: pointer;
}

h1 {
  color: black;
}

.statement-div {
  cursor: pointer;
  margin-left: 2vh;
  margin-right: 2vh;
}